---
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludvig Kalberg</title>

    <meta
      name="description"
      content="Website of Ludvig Kalberg. Interests include servers, networking, virtualization, learning programming, TV series, and bouldering."
    />

    <link rel="stylesheet" href="/src/styles/global.css">
    <link rel="canonical" href="https://www.ludvigkalberg.com/" />
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/favicon-32x32.png">
    <meta name="theme-color" content="#00FFFF"> 

  </head>
  <body>
    <div id="background"></div>
    <div id="container">
      <slot />
    </div>
    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>
